## **Requirements**
1. When you work on this assignment, you should make a copy of this notebook in Google Colab. This can be done using the option `File > Save a copy in Drive` in Google Colab.

2. You should fill in your answer for each task inside the code block right under the task.

3. You should only insert your code into the designated code blocks, as mentioned above. Other than that, you shouldn't change anything else in the notebook, unless otherwise instructed.

4.  For each code block, you are free to use multiple lines of code.

5.   Even if you can only partially solve a task, you should include your code in the code block, which allows us to consider partial credit.

6.   However, your code should not raise errors. Any code raising errors will not get partial credit.

7.   We will test your code in Google Colab. Make sure your code runs in Google Colab.

10. To submit your assignment, download your Colab into a .ipynb file. This can be done using the option `Download > Download .ipynb` in Google Colab.

11. Submit the downloaded .ipynb file on Canvas.

## **Task1: Pandas:DataFrame**(60)

In [174]:
import pandas as pd
import numpy as np
import requests

In [175]:
# DATA URL SOURCES ###############################
eng_url     = 'https://andybek.com/pandas-eng'
state_url   = 'https://andybek.com/pandas-state'
party_url   = 'https://andybek.com/pandas-party'
liberal_url = 'https://andybek.com/pandas-liberal'
ivies_url   = 'https://andybek.com/pandas-ivies'
##################################################

In [176]:
df1 = pd.read_csv(eng_url)
df2 = pd.read_csv(state_url)
df3 = pd.read_csv(party_url)
df4 = pd.read_csv(liberal_url)
df5 = pd.read_csv(ivies_url)

In [177]:
#Use a function to retreive information on the first 10 rows of your dataframe.
df1.head(10)

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00"
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00"
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00"
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00"
4,Cooper Union,Engineering,"$62,200.00","$114,000.00"
5,Worcester Polytechnic Institute (WPI),Engineering,"$61,000.00","$114,000.00"
6,Carnegie Mellon University (CMU),Engineering,"$61,800.00","$111,000.00"
7,Rensselaer Polytechnic Institute (RPI),Engineering,"$61,100.00","$110,000.00"
8,Georgia Institute of Technology,Engineering,"$58,300.00","$106,000.00"
9,Colorado School of Mines,Engineering,"$58,100.00","$106,000.00"

In [178]:
df3.head(10)

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary
0,University of Illinois at Urbana-Champaign (UIUC),Party,"$52,900.00","$96,100.00"
1,"University of Maryland, College Park",Party,"$52,000.00","$95,000.00"
2,"University of California, Santa Barbara (UCSB)",Party,"$50,500.00","$95,000.00"
3,University of Texas (UT) - Austin,Party,"$49,700.00","$93,900.00"
4,State University of New York (SUNY) at Albany,Party,"$44,500.00","$92,200.00"
5,University of Florida (UF),Party,"$47,100.00","$87,900.00"
6,Louisiana State University (LSU),Party,"$46,900.00","$87,800.00"
7,University of Georgia (UGA),Party,"$44,100.00","$86,000.00"
8,Pennsylvania State University (PSU),Party,"$49,900.00","$85,700.00"
9,Arizona State University (ASU),Party,"$47,400.00","$84,100.00"

In [179]:
df2.head(10)

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary
0,"University of California, Berkeley",State,"$59,900.00","$112,000.00"
1,University of Virginia (UVA),State,"$52,700.00","$103,000.00"
2,Cal Poly San Luis Obispo,State,"$57,200.00","$101,000.00"
3,University of California at Los Angeles (UCLA),State,"$52,600.00","$101,000.00"
4,"University of California, San Diego (UCSD)",State,"$51,100.00","$101,000.00"
5,"University of California, Davis",State,"$52,300.00","$99,600.00"
6,University of Colorado - Boulder (UCB),State,"$47,100.00","$97,600.00"
7,"University of California, Irvine (UCI)",State,"$48,300.00","$96,700.00"
8,University of Illinois at Urbana-Champaign (UIUC),State,"$52,900.00","$96,100.00"
9,Texas A&M University,State,"$49,700.00","$96,100.00"

In [180]:
df4.head(10)

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary
0,Bucknell University,Liberal Arts,"$54,100.00","$110,000.00"
1,Colgate University,Liberal Arts,"$52,800.00","$108,000.00"
2,Amherst College,Liberal Arts,"$54,500.00","$107,000.00"
3,Lafayette College,Liberal Arts,"$53,900.00","$107,000.00"
4,Bowdoin College,Liberal Arts,"$48,100.00","$107,000.00"
5,College of the Holy Cross,Liberal Arts,"$50,200.00","$106,000.00"
6,Occidental College,Liberal Arts,"$51,900.00","$105,000.00"
7,Washington and Lee University,Liberal Arts,"$53,600.00","$104,000.00"
8,Swarthmore College,Liberal Arts,"$49,700.00","$104,000.00"
9,Davidson College,Liberal Arts,"$46,100.00","$104,000.00"

In [181]:
df5.head(10)

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary
0,Dartmouth College,Ivy League,"$58,000.00","$134,000.00"
1,Princeton University,Ivy League,"$66,500.00","$131,000.00"
2,Yale University,Ivy League,"$59,100.00","$126,000.00"
3,Harvard University,Ivy League,"$63,400.00","$124,000.00"
4,University of Pennsylvania,Ivy League,"$60,900.00","$120,000.00"
5,Cornell University,Ivy League,"$60,300.00","$110,000.00"
6,Brown University,Ivy League,"$56,200.00","$109,000.00"
7,Columbia University,Ivy League,"$59,400.00","$107,000.00"

In [182]:
horizontal_concat = pd.concat([df1, df5], axis=1)
horizontal_concat

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,School Name,School Type,Starting Median Salary,Mid-Career Median Salary
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00",Dartmouth College,Ivy League,"$58,000.00","$134,000.00"
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00",Princeton University,Ivy League,"$66,500.00","$131,000.00"
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00",Yale University,Ivy League,"$59,100.00","$126,000.00"
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00",Harvard University,Ivy League,"$63,400.00","$124,000.00"
4,Cooper Union,Engineering,"$62,200.00","$114,000.00",University of Pennsylvania,Ivy League,"$60,900.00","$120,000.00"
5,Worcester Polytechnic Institute (WPI),Engineering,"$61,000.00","$114,000.00",Cornell University,Ivy League,"$60,300.00","$110,000.00"
6,Carnegie Mellon University (CMU),Engineering,"$61,800.00","$111,000.00",Brown University,Ivy League,"$56,200.00","$109,000.00"
7,Rensselaer Polytechnic Institute (RPI),Engineering,"$61,100.00","$110,000.00",Columbia University,Ivy League,"$59,400.00","$107,000.00"
8,Georgia Institute of Technology,Engineering,"$58,300.00","$106,000.00",NaN,NaN,NaN,NaN
9,Colorado School of Mines,Engineering,"$58,100.00","$106,000.00",NaN,NaN,NaN,NaN
10,Stevens Institute of Technology,Engineering,"$60,600.00","$105,000.00",NaN,NaN,NaN,NaN
11,Illinois Institute of Technology (IIT),Engineering,"$56,000.00","$97,800.00",NaN,NaN,NaN,NaN
12,Wentworth Institute of Technology,Engineering,"$53,000.00","$96,700.00",NaN,NaN,NaN,NaN
13,Virginia Polytechnic Institute and State Unive...,Engineering,"$53,500.00","$95,400.00",NaN,NaN,NaN,NaN
14,South Dakota School of Mines & Technology,Engineering,"$55,800.00","$93,400.00",NaN,NaN,NaN,NaN
15,New Mexico Institute of Mining and Technology ...,Engineering,"$51,000.00","$93,400.00",NaN,NaN,NaN,NaN
16,Rochester Institute of Technology (RIT),Engineering,"$48,900.00","$84,600.00",NaN,NaN,NaN,NaN
17,Embry-Riddle Aeronautical University (ERAU),Engineering,"$52,700.00","$80,700.00",NaN,NaN,NaN,NaN
18,Tennessee Technological University,Engineering,"$46,200.00","$80,000.00",NaN,NaN,NaN,NaN

In [183]:
#Concatenate eng and ivies using the Pandas concatination function and give the shape of your dataframes
vertical_concat = pd.concat([df1, df5], axis=0)
vertical_concat

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00"
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00"
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00"
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00"
4,Cooper Union,Engineering,"$62,200.00","$114,000.00"
5,Worcester Polytechnic Institute (WPI),Engineering,"$61,000.00","$114,000.00"
6,Carnegie Mellon University (CMU),Engineering,"$61,800.00","$111,000.00"
7,Rensselaer Polytechnic Institute (RPI),Engineering,"$61,100.00","$110,000.00"
8,Georgia Institute of Technology,Engineering,"$58,300.00","$106,000.00"
9,Colorado School of Mines,Engineering,"$58,100.00","$106,000.00"
10,Stevens Institute of Technology,Engineering,"$60,600.00","$105,000.00"
11,Illinois Institute of Technology (IIT),Engineering,"$56,000.00","$97,800.00"
12,Wentworth Institute of Technology,Engineering,"$53,000.00","$96,700.00"
13,Virginia Polytechnic Institute and State Unive...,Engineering,"$53,500.00","$95,400.00"
14,South Dakota School of Mines & Technology,Engineering,"$55,800.00","$93,400.00"
15,New Mexico Institute of Mining and Technology ...,Engineering,"$51,000.00","$93,400.00"
16,Rochester Institute of Technology (RIT),Engineering,"$48,900.00","$84,600.00"
17,Embry-Riddle Aeronautical University (ERAU),Engineering,"$52,700.00","$80,700.00"
18,Tennessee Technological University,Engineering,"$46,200.00","$80,000.00"
0,Dartmouth College,Ivy League,"$58,000.00","$134,000.00"
1,Princeton University,Ivy League,"$66,500.00","$131,000.00"
2,Yale University,Ivy League,"$59,100.00","$126,000.00"
3,Harvard University,Ivy League,"$63,400.00","$124,000.00"
4,University of Pennsylvania,Ivy League,"$60,900.00","$120,000.00"
5,Cornell University,Ivy League,"$60,300.00","$110,000.00"
6,Brown University,Ivy League,"$56,200.00","$109,000.00"
7,Columbia University,Ivy League,"$59,400.00","$107,000.00"

In [184]:
vertical_concat.shape

(27, 4)

In [185]:
horizontal_concat.shape

(19, 8)

In [186]:
#Concatenate the 5 dataframes and drop the duplicated values of 'School Name' in your output dataframe called schools
schools = pd.concat([df1, df2, df3, df4, df5]).drop_duplicates(subset='School Name')

In [187]:
schools

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00"
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00"
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00"
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00"
4,Cooper Union,Engineering,"$62,200.00","$114,000.00"
...,...,...,...,...
3,Harvard University,Ivy League,"$63,400.00","$124,000.00"
4,University of Pennsylvania,Ivy League,"$60,900.00","$120,000.00"
5,Cornell University,Ivy League,"$60,300.00","$110,000.00"
6,Brown University,Ivy League,"$56,200.00","$109,000.00"
7,Columbia University,Ivy League,"$59,400.00","$107,000.00"

In [188]:
schools.columns

Index(['School Name', 'School Type', 'Starting Median Salary',
       'Mid-Career Median Salary'],
      dtype='object')

In [189]:
schools.head(10)

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00"
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00"
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00"
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00"
4,Cooper Union,Engineering,"$62,200.00","$114,000.00"
5,Worcester Polytechnic Institute (WPI),Engineering,"$61,000.00","$114,000.00"
6,Carnegie Mellon University (CMU),Engineering,"$61,800.00","$111,000.00"
7,Rensselaer Polytechnic Institute (RPI),Engineering,"$61,100.00","$110,000.00"
8,Georgia Institute of Technology,Engineering,"$58,300.00","$106,000.00"
9,Colorado School of Mines,Engineering,"$58,100.00","$106,000.00"

In [190]:
schools.tail(10)

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary
45,Thomas Aquinas College,Liberal Arts,"$41,500.00","$67,500.00"
46,Evergreen State College,Liberal Arts,"$39,500.00","$63,900.00"
0,Dartmouth College,Ivy League,"$58,000.00","$134,000.00"
1,Princeton University,Ivy League,"$66,500.00","$131,000.00"
2,Yale University,Ivy League,"$59,100.00","$126,000.00"
3,Harvard University,Ivy League,"$63,400.00","$124,000.00"
4,University of Pennsylvania,Ivy League,"$60,900.00","$120,000.00"
5,Cornell University,Ivy League,"$60,300.00","$110,000.00"
6,Brown University,Ivy League,"$56,200.00","$109,000.00"
7,Columbia University,Ivy League,"$59,400.00","$107,000.00"

In [191]:
#Check if the index in schools is diplicated or not
schools.index.duplicated().any()

True

In [192]:
# Toshow which rows having duplicate index
schools[schools.index.duplicated()]

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary
0,"University of California, Berkeley",State,"$59,900.00","$112,000.00"
1,University of Virginia (UVA),State,"$52,700.00","$103,000.00"
2,Cal Poly San Luis Obispo,State,"$57,200.00","$101,000.00"
3,University of California at Los Angeles (UCLA),State,"$52,600.00","$101,000.00"
4,"University of California, San Diego (UCSD)",State,"$51,100.00","$101,000.00"
...,...,...,...,...
3,Harvard University,Ivy League,"$63,400.00","$124,000.00"
4,University of Pennsylvania,Ivy League,"$60,900.00","$120,000.00"
5,Cornell University,Ivy League,"$60,300.00","$110,000.00"
6,Brown University,Ivy League,"$56,200.00","$109,000.00"
7,Columbia University,Ivy League,"$59,400.00","$107,000.00"

In [193]:
# Does schools.loc[0:2] works? and why?
"""schools.loc[0:2]
Since the index of schools DataFrame is not unique, there are duplicate values in the index.
When we try to access a specific row using loc with a non-unique index, pandas doesn't know which row to return."""

"schools.loc[0:2]\nSince the index of schools DataFrame is not unique, there are duplicate values in the index.\nWhen we try to access a specific row using loc with a non-unique index, pandas doesn't know which row to return."

Since the index of schools DataFrame is not unique, there are duplicate values in the index. When we try to access a specific row using loc with a non-unique index, pandas doesn't know which row to return.

In [194]:
# Create eng2 and ivies2 from eng and ivies where the index is Set to 'School Name'.
eng2 = df1.set_index('School Name')
ivies2 = df5.set_index('School Name')

In [195]:
#Explain how to fix the duplicated index problem.
"""df = df.reset_index()  reset_index() method is used to reset the index, creating a new integer index and moving the existing index to a column.
df = df.drop_duplicates()  drop_duplicates() method to remove duplicate index values, keeping only the first occurrence.
df = df.set_index('new_index_column')  rename() method to rename the index, making it unique."""

"df = df.reset_index()  reset_index() method is used to reset the index, creating a new integer index and moving the existing index to a column.\ndf = df.drop_duplicates()  drop_duplicates() method to remove duplicate index values, keeping only the first occurrence.\ndf = df.set_index('new_index_column')  rename() method to rename the index, making it unique."

In [196]:
#Concatenate eng and ivies by using the multi-index in order to remove the duplicated index issue.
combined_df = pd.concat([df1, df5], keys=['Engineering', 'Ivies'], names=['Category', 'School Name'])
combined_df

                                                               School Name  \
Category    School Name
Engineering 0                  Massachusetts Institute of Technology (MIT)
            1                     California Institute of Technology (CIT)
            2                                          Harvey Mudd College
            3                 Polytechnic University of New York, Brooklyn
            4                                                 Cooper Union
            5                        Worcester Polytechnic Institute (WPI)
            6                             Carnegie Mellon University (CMU)
            7                       Rensselaer Polytechnic Institute (RPI)
            8                              Georgia Institute of Technology
            9                                     Colorado School of Mines
            10                             Stevens Institute of Technology
            11                      Illinois Institute of Technology (IIT)
            12                           Wentworth Institute of Technology
            13           Virginia Polytechnic Institute and State Unive...
            14                   South Dakota School of Mines & Technology
            15           New Mexico Institute of Mining and Technology ...
            16                     Rochester Institute of Technology (RIT)
            17                 Embry-Riddle Aeronautical University (ERAU)
            18                          Tennessee Technological University
Ivies       0                                            Dartmouth College
            1                                         Princeton University
            2                                              Yale University
            3                                           Harvard University
            4                                   University of Pennsylvania
            5                                           Cornell University
            6                                             Brown University
            7                                          Columbia University

                         School Type Starting Median Salary  \
Category    School Name
Engineering 0            Engineering            $72,200.00
            1            Engineering            $75,500.00
            2            Engineering            $71,800.00
            3            Engineering            $62,400.00
            4            Engineering            $62,200.00
            5            Engineering            $61,000.00
            6            Engineering            $61,800.00
            7            Engineering            $61,100.00
            8            Engineering            $58,300.00
            9            Engineering            $58,100.00
            10           Engineering            $60,600.00
            11           Engineering            $56,000.00
            12           Engineering            $53,000.00
            13           Engineering            $53,500.00
            14           Engineering            $55,800.00
            15           Engineering            $51,000.00
            16           Engineering            $48,900.00
            17           Engineering            $52,700.00
            18           Engineering            $46,200.00
Ivies       0             Ivy League            $58,000.00
            1             Ivy League            $66,500.00
            2             Ivy League            $59,100.00
            3             Ivy League            $63,400.00
            4             Ivy League            $60,900.00
            5             Ivy League            $60,300.00
            6             Ivy League            $56,200.00
            7             Ivy League            $59,400.00

                        Mid-Career Median Salary
Category    School Name
Engineering 0                       $126,000.00
            1                       $123,000.00
            2                       $122,000.00
            3                       $114,000.00
            4                       $114,000.00
            5                       $114,000.00
            6                       $111,000.00
            7                       $110,000.00
            8                       $106,000.00
            9                       $106,000.00
            10                      $105,000.00
            11                       $97,800.00
            12                       $96,700.00
            13                       $95,400.00
            14                       $93,400.00
            15                       $93,400.00
            16                       $84,600.00
            17                       $80,700.00
            18                       $80,000.00
Ivies       0                       $134,000.00
            1                       $131,000.00
            2                       $126,000.00
            3                       $124,000.00
            4                       $120,000.00
            5                       $110,000.00
            6                       $109,000.00
            7                       $107,000.00

In [197]:
combined_df.loc['Engineering'].iloc[0]

School Name                 Massachusetts Institute of Technology (MIT)
School Type                                                 Engineering
Starting Median Salary                                      $72,200.00
Mid-Career Median Salary                                   $126,000.00
Name: 0, dtype: object

In [198]:
combined_df.loc['Ivies'].iloc[0]

School Name                 Dartmouth College
School Type                        Ivy League
Starting Median Salary            $58,000.00
Mid-Career Median Salary         $134,000.00
Name: 0, dtype: object

In [235]:
#Use the append function to concatenate 'liberal' and 'party' dataframes
# combined_df_append = df3.append(df4, ignore_index=True)
# Since append is depreciated in pandas we can use concat instead
combined_df_concat = pd.concat([df3, df4], ignore_index=True)
combined_df_concat

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary
0,University of Illinois at Urbana-Champaign (UIUC),Party,"$52,900.00","$96,100.00"
1,"University of Maryland, College Park",Party,"$52,000.00","$95,000.00"
2,"University of California, Santa Barbara (UCSB)",Party,"$50,500.00","$95,000.00"
3,University of Texas (UT) - Austin,Party,"$49,700.00","$93,900.00"
4,State University of New York (SUNY) at Albany,Party,"$44,500.00","$92,200.00"
...,...,...,...,...
62,Moravian College,Liberal Arts,"$42,500.00",74400.0
63,Lewis & Clark College,Liberal Arts,"$38,900.00",72600.0
64,Fort Lewis College,Liberal Arts,"$42,000.00",69800.0
65,Thomas Aquinas College,Liberal Arts,"$41,500.00",67500.0
66,Evergreen State College,Liberal Arts,"$39,500.00",63900.0

In [200]:
regions_url = 'https://andybek.com/pandas-regions'

In [201]:
# Create the dataframe 'regions'
regions = pd.read_csv(regions_url)
regions

                                      School Name        Region
0     Massachusetts Institute of Technology (MIT)  Northeastern
1        California Institute of Technology (CIT)    California
2                             Harvey Mudd College    California
3    Polytechnic University of New York, Brooklyn  Northeastern
4                                    Cooper Union  Northeastern
..                                            ...           ...
264                  Austin Peay State University      Southern
265                    Pittsburg State University    Midwestern
266                      Southern Utah University       Western
267           Montana State University - Billings       Western
268                  Black Hills State University    Midwestern

[269 rows x 2 columns]

In [202]:
# Merge the 2 dataframes schools and regions
merge_df = pd.merge(schools, regions)

In [203]:
# Merge schools and regions on the column name 'School Name'
merge_school = pd.merge(schools, regions, on='School Name')

In [204]:
merge_school

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,Region
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00",Northeastern
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00",California
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00",California
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00",Northeastern
4,Cooper Union,Engineering,"$62,200.00","$114,000.00",Northeastern
...,...,...,...,...,...
264,Harvard University,Ivy League,"$63,400.00","$124,000.00",Northeastern
265,University of Pennsylvania,Ivy League,"$60,900.00","$120,000.00",Northeastern
266,Cornell University,Ivy League,"$60,300.00","$110,000.00",Northeastern
267,Brown University,Ivy League,"$56,200.00","$109,000.00",Northeastern
268,Columbia University,Ivy League,"$59,400.00","$107,000.00",Northeastern

In [205]:
income_url = 'https://andybek.com/pandas-mid'

In [206]:
#Create Dataframe (mid_career) from the file income
mid_career = pd.read_csv(income_url)
mid_career.columns

Index(['school_name', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 25th Percentile Salary',
       'Mid-Career 75th Percentile Salary',
       'Mid-Career 90th Percentile Salary'],
      dtype='object')

In [207]:
# Merge mid_career and schools on the arguments left_on and right_on and drop the duplicated column.
merged_df = pd.merge(mid_career, schools, left_on='school_name', right_on='School Name') \
             .drop(columns=['School Name'])
merged_df

,school_name,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary,School Type,Starting Median Salary,Mid-Career Median Salary
0,Massachusetts Institute of Technology (MIT),"$76,800.00","$99,200.00","$168,000.00","$220,000.00",Engineering,"$72,200.00","$126,000.00"
1,California Institute of Technology (CIT),NaN,"$104,000.00","$161,000.00",NaN,Engineering,"$75,500.00","$123,000.00"
2,Harvey Mudd College,NaN,"$96,000.00","$180,000.00",NaN,Engineering,"$71,800.00","$122,000.00"
3,"Polytechnic University of New York, Brooklyn","$66,800.00","$94,300.00","$143,000.00","$190,000.00",Engineering,"$62,400.00","$114,000.00"
4,Cooper Union,NaN,"$80,200.00","$142,000.00",NaN,Engineering,"$62,200.00","$114,000.00"
...,...,...,...,...,...,...,...,...
264,Austin Peay State University,"$32,200.00","$40,500.00","$73,900.00","$96,200.00",State,"$37,700.00","$59,200.00"
265,Pittsburg State University,"$25,600.00","$46,000.00","$84,600.00","$117,000.00",State,"$40,400.00","$58,200.00"
266,Southern Utah University,"$30,700.00","$39,700.00","$78,400.00","$116,000.00",State,"$41,900.00","$56,500.00"
267,Montana State University - Billings,"$22,600.00","$31,800.00","$78,500.00","$98,900.00",State,"$37,900.00","$50,600.00"
268,Black Hills State University,"$27,000.00","$32,200.00","$60,900.00","$87,600.00",State,"$35,300.00","$43,900.00"

Q1: Concatenate the *liberal* and *state* schools into a new dataframe. How many unique school names are there?

In [208]:
#Q1:Code
new_df = pd.concat([df2, df4])
unique_schools = new_df['School Name'].nunique()
print("Unique school names are: ", unique_schools)

Unique school names are:  222

Q2: What is the average median starting salary in the dataframe created above?

In [209]:
#Q2:Code
average_starting_salary = new_df['Starting Median Salary'].str.replace('$', '').str.replace(',', '').astype(float).mean()
print(f"Average Median Starting Salary: ${average_starting_salary:.2f}")

Average Median Starting Salary: $44469.37

Q3: Create a short dataframe that shows the top 3 *liberal* arts and *state* schools that produce the highest (mid-career) earning graduates.

Show the *School Name* and *Mid-Career Median Salary* columns from each dataset, side by side, i.e. <ins>horizontally</ins>.

Nest the column labels within 'Liberal Arts' and 'State' labels.

In [211]:
#Q3:Code

df4['Mid-Career Median Salary'] = df4['Mid-Career Median Salary'].str.replace('$', '').str.replace(',', '').astype(float)
df2['Mid-Career Median Salary'] = df2['Mid-Career Median Salary'].str.replace('$', '').str.replace(',', '').astype(float)
new_df = pd.concat({'Liberal Arts': df4.nlargest(3, 'Mid-Career Median Salary')[['School Name', 'Mid-Career Median Salary']],
                    'State': df2.nlargest(3, 'Mid-Career Median Salary')[['School Name', 'Mid-Career Median Salary']]}, axis=1)
new_df

          Liberal Arts                           \
           School Name Mid-Career Median Salary
0  Bucknell University                 110000.0
1   Colgate University                 108000.0
2      Amherst College                 107000.0

                                State
                          School Name Mid-Career Median Salary
0  University of California, Berkeley                 112000.0
1        University of Virginia (UVA)                 103000.0
2            Cal Poly San Luis Obispo                 101000.0

Q4: Merge *liberal* arts schools with *regions* and assign the resulting dataframe to *dfm*. What region has the highest number of liberal arts schools?

In [212]:
#Q4:Code
dfm = pd.merge(df4, regions, on='School Name')
region_counts = dfm.groupby('Region')['School Name'].count().reset_index()
max_region = region_counts.nlargest(1, 'School Name')
max_region

         Region  School Name
2  Northeastern           25

Q5: Set *school_name* as the index of the *mid_career* dataframe. Do the operation inplace.

In [213]:
#Q5:Code
mid_career.set_index('school_name', inplace=True)
"""since index is set to school_name again running this code will cause error No column name school_name present"""

'since index is set to school_name again running this code will cause error No column name school_name present'

In [214]:
mid_career

,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
school_name,,,,
Massachusetts Institute of Technology (MIT),"$76,800.00","$99,200.00","$168,000.00","$220,000.00"
California Institute of Technology (CIT),NaN,"$104,000.00","$161,000.00",NaN
Harvey Mudd College,NaN,"$96,000.00","$180,000.00",NaN
"Polytechnic University of New York, Brooklyn","$66,800.00","$94,300.00","$143,000.00","$190,000.00"
Cooper Union,NaN,"$80,200.00","$142,000.00",NaN
...,...,...,...,...
Austin Peay State University,"$32,200.00","$40,500.00","$73,900.00","$96,200.00"
Pittsburg State University,"$25,600.00","$46,000.00","$84,600.00","$117,000.00"
Southern Utah University,"$30,700.00","$39,700.00","$78,400.00","$116,000.00"
Montana State University - Billings,"$22,600.00","$31,800.00","$78,500.00","$98,900.00"
Black Hills State University,"$27,000.00","$32,200.00","$60,900.00","$87,600.00"

In [215]:
dfm.columns

Index(['School Name', 'School Type', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Region'],
      dtype='object')

In [216]:
mid_career.columns

Index(['Mid-Career 10th Percentile Salary',
       'Mid-Career 25th Percentile Salary',
       'Mid-Career 75th Percentile Salary',
       'Mid-Career 90th Percentile Salary'],
      dtype='object')

Q6: Merge the *dfm* and *mid_career* dataframes. Is the join operation one-to-one?

In [217]:
#Q6:Code
merged_df = pd.merge(dfm, mid_career, left_on='School Name', right_index=True)
merged_df
#This is a one-to-many join, where each row in dfm is matched with multiple rows in mid_career.

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,Region,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Bucknell University,Liberal Arts,"$54,100.00",110000.0,Northeastern,"$62,800.00","$80,600.00","$156,000.00","$251,000.00"
1,Colgate University,Liberal Arts,"$52,800.00",108000.0,Northeastern,"$60,000.00","$76,700.00","$167,000.00","$265,000.00"
2,Amherst College,Liberal Arts,"$54,500.00",107000.0,Northeastern,NaN,"$84,900.00","$162,000.00",NaN
3,Lafayette College,Liberal Arts,"$53,900.00",107000.0,Northeastern,"$70,600.00","$79,300.00","$144,000.00","$204,000.00"
4,Bowdoin College,Liberal Arts,"$48,100.00",107000.0,Northeastern,NaN,"$74,600.00","$146,000.00",NaN
5,College of the Holy Cross,Liberal Arts,"$50,200.00",106000.0,Northeastern,NaN,"$65,600.00","$143,000.00",NaN
6,Occidental College,Liberal Arts,"$51,900.00",105000.0,California,NaN,"$54,800.00","$157,000.00",NaN
7,Washington and Lee University,Liberal Arts,"$53,600.00",104000.0,Southern,NaN,"$82,800.00","$146,000.00",NaN
8,Swarthmore College,Liberal Arts,"$49,700.00",104000.0,Northeastern,NaN,"$67,200.00","$167,000.00",NaN
9,Davidson College,Liberal Arts,"$46,100.00",104000.0,Southern,NaN,"$70,500.00","$146,000.00",NaN
10,Carleton College,Liberal Arts,"$47,500.00",103000.0,Midwestern,NaN,"$69,400.00","$141,000.00",NaN
11,Williams College,Liberal Arts,"$51,700.00",102000.0,Northeastern,NaN,"$76,400.00","$143,000.00",NaN
12,Pomona College,Liberal Arts,"$48,600.00",101000.0,California,NaN,"$63,300.00","$161,000.00",NaN
13,"Wesleyan University (Middletown, Connecticut)",Liberal Arts,"$46,500.00",97900.0,Northeastern,"$42,000.00","$62,500.00","$126,000.00","$215,000.00"
14,Bates College,Liberal Arts,"$47,300.00",96500.0,Northeastern,NaN,"$60,700.00","$162,000.00",NaN
15,Union College,Liberal Arts,"$47,200.00",95800.0,Northeastern,"$48,700.00","$75,200.00","$135,000.00","$230,000.00"
16,University of Richmond,Liberal Arts,"$48,600.00",94600.0,Southern,"$44,500.00","$59,400.00","$151,000.00","$211,000.00"
17,Vassar College,Liberal Arts,"$46,000.00",94600.0,Northeastern,NaN,"$60,600.00","$123,000.00",NaN
18,Middlebury College,Liberal Arts,"$47,700.00",94200.0,Northeastern,NaN,"$69,100.00","$129,000.00",NaN
19,Mount Holyoke College,Liberal Arts,"$42,400.00",94100.0,Northeastern,NaN,"$57,100.00","$131,000.00",NaN
20,Franklin and Marshall College,Liberal Arts,"$49,100.00",92800.0,Northeastern,NaN,"$55,800.00","$185,000.00",NaN
21,DePauw University,Liberal Arts,"$41,400.00",88300.0,Midwestern,"$49,500.00","$57,400.00","$133,000.00","$185,000.00"
22,St. Olaf College,Liberal Arts,"$45,300.00",86200.0,Midwestern,"$41,300.00","$61,000.00","$120,000.00","$185,000.00"
23,Colby College,Liberal Arts,"$46,400.00",85800.0,Northeastern,NaN,"$63,500.00","$129,000.00",NaN
24,Gettysburg College,Liberal Arts,"$44,700.00",85800.0,Northeastern,NaN,"$66,300.00","$132,000.00",NaN
25,Siena College,Liberal Arts,"$45,500.00",85200.0,Northeastern,"$38,700.00","$58,400.00","$129,000.00","$189,000.00"
26,Smith College,Liberal Arts,"$44,000.00",83900.0,Northeastern,"$45,100.00","$59,800.00","$129,000.00","$184,000.00"
27,Hamilton College,Liberal Arts,"$49,200.00",83700.0,Northeastern,NaN,"$51,900.00","$123,000.00",NaN
28,Randolph-Macon College,Liberal Arts,"$42,600.00",83600.0,Southern,NaN,"$54,100.00","$123,000.00",NaN
28,Randolph-Macon College,Liberal Arts,"$42,600.00",83600.0,Southern,NaN,"$54,100.00","$123,000.00",NaN
29,Randolph-Macon College,Liberal Arts,"$42,600.00",83600.0,Southern,NaN,"$54,100.00","$123,000.00",NaN
29,Randolph-Macon College,Liberal Arts,"$42,600.00",83600.0,Southern,NaN,"$54,100.00","$123,000.00",NaN
30,Wellesley College,Liberal Arts,"$42,800.00",83500.0,Northeastern,NaN,"$58,600.00","$125,000.00",NaN
31,Denison University,Liberal Arts,"$42,000.00",83500.0,Midwestern,NaN,"$62,100.00","$122,000.00",NaN
32,Oberlin College,Liberal Arts,"$43,400.00",81600.0,Midwestern,NaN,"$46,400.00","$128,000.00",NaN
33,University of Puget Sound,Liberal Arts,"$46,600.00",81500.0,Western,"$48,900.00","$60,100.00","$104,000.00","$137,000.00"
34,Colorado College (CC),Liberal Arts,"$38,500.00",81400.0,Western,NaN,"$43,000.00","$148,000.00",NaN
35,Reed College,Liberal Arts,"$40,500.00",81100.0,Western,NaN,"$67,400.00","$101,000.00",NaN
36,Gustavus Adolphus College,Liberal Arts,"$44,500.00",80600.0,Midwestern,NaN,"$49,300.00","$101,000.00",NaN
37,Whitman College,Liberal Arts,"$43,500.00",80100.0,Western,NaN,"$64,800.00","$111,000.00",NaN
38,Ursinus College,Liberal Arts,"$42,100.00",80000.0,Northeastern,"$35,600.00","$54,300.00","$100,000.00","$160,000.00"
39,Juniata College,Liberal Arts,"$41,800.00",78900.0,Northeastern,NaN,"$67,200.00","$110,000.00",NaN
40,Wittenberg University,Liberal Arts,"$39,200.00",78200.0,Midwestern,NaN,"$54,100.00","$131,000.00",NaN
41,Grinnell College,Liberal Arts,"$42,600.00",76600.0,Midwestern,NaN,"$65,100.00","$116,000.00",NaN
42,Skidmore College,Liberal Arts,"$41,600.00",74600.0,Northeastern,NaN,"$42,800.00","$147,000.00",NaN
43,Moravian College,Liberal Arts,"$42,500.00",74400.0,Northeastern,NaN,"$56,700.00","$94,900.00",NaN
44,Lewis & Clark College,Liberal Arts,"$38,900.00",72600.0,Western,"$38,200.00","$53,400.00","$104,000.00","$140,000.00"
45,Fort Lewis College,Liberal Arts,"$42,000.00",69800.0,Western,NaN,"$55,000.00","$94,000.00",NaN
46,Thomas Aquinas College,Liberal Arts,"$41,500.00",67500.0,California,NaN,"$44,600.00","$93,100.00",NaN
47,Evergreen State College,Liberal Arts,"$39,500.00",63900.0,Western,"$38,800.00","$47,200.00","$91,600.00","$120,000.00"

The dfm DataFrame has multiple rows with the same school_name (e.g., Bucknell University and Colgate University), while the mid_career DataFrame has unique school_name values in its index. This means that the merge operation will result in a many-to-one join, where each row in dfm is matched with a single row in mid_career (if a match is found).

Create dataframe games

In [218]:
#Dataframe creation
games_url = 'https://andybek.com/pandas-games'
games = pd.read_csv(games_url)
games

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
1,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
2,Grand Theft Auto V,X360,2013.0,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
3,Call of Duty: Modern Warfare 3,X360,2011.0,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
4,Call of Duty: Black Ops,X360,2010.0,Shooter,Activision,9.67,3.73,0.11,1.13,14.64
...,...,...,...,...,...,...,...,...,...,...
3138,Bound By Flame,X360,2014.0,Role-Playing,NaN,0.00,0.01,0.00,0.00,0.01
3139,Mighty No. 9,XOne,2016.0,Platform,Deep Silver,0.01,0.00,0.00,0.00,0.01
3140,Resident Evil 4 HD,XOne,2016.0,Shooter,Capcom,0.01,0.00,0.00,0.00,0.01
3141,Farming 2017 - The Simulation,PS4,2016.0,Simulation,UIG Entertainment,0.00,0.01,0.00,0.00,0.01
3142,Rugby Challenge 3,XOne,2016.0,Sports,Alternative Software,0.00,0.01,0.00,0.00,0.01

Q7: What are the total sales across all regions?

In [221]:
#Q7-Code
print("Total Sales across all region: ", games['Global_Sales'])

Total Sales across all region:  0       21.82
1       21.40
2       16.38
3       14.76
4       14.64
        ...
3138     0.01
3139     0.01
3140     0.01
3141     0.01
3142     0.01
Name: Global_Sales, Length: 3143, dtype: float64

In [220]:
print(f"Sum of total sales across all regions {sum(games['Global_Sales']):.2f}")

Sum of total sales across all regions 2356.96

 Q8: Find the total sales by region for X360 and PS3.

In [226]:
#8-Code
x360_sales = games[games['Platform'] == 'X360'].groupby('Platform')[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']].sum()
ps3_sales = games[games['Platform'] == 'PS3'].groupby('Platform')[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']].sum()
print(x360_sales)
print("-"*50)
print(ps3_sales)

          NA_Sales  EU_Sales  JP_Sales  Other_Sales
Platform
X360        601.05    280.58     12.43        85.54
--------------------------------------------------
          NA_Sales  EU_Sales  JP_Sales  Other_Sales
Platform
PS3         392.26    343.71     79.99       141.93

Q9: How much does each platform sell across regions, on average?

In [227]:
average_sales = games.groupby('Platform')[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']].mean()
print(f"Average Sales of each platform across regions:")
print(average_sales)

Average Sales of each platform across regions:
          NA_Sales  EU_Sales  JP_Sales  Other_Sales
Platform
PS3       0.295154  0.258623  0.060188     0.106795
PS4       0.288095  0.368155  0.042560     0.129048
X360      0.475138  0.221802  0.009826     0.067621
XOne      0.390563  0.214319  0.001596     0.055962

Q10: Create a smaller dataframe from *games*, selecting only the Publisher, Genre, Platform, and NA_Sales columns. Assign this dataframe to the variable *publishers*.

In [228]:
#Q10-Code
publishers = games[['Publisher', 'Genre', 'Platform', 'NA_Sales']]
print(publishers)

                   Publisher         Genre Platform  NA_Sales
0     Microsoft Game Studios          Misc     X360     14.97
1       Take-Two Interactive        Action      PS3      7.01
2       Take-Two Interactive        Action     X360      9.63
3                 Activision       Shooter     X360      9.03
4                 Activision       Shooter     X360      9.67
...                      ...           ...      ...       ...
3138                     NaN  Role-Playing     X360      0.00
3139             Deep Silver      Platform     XOne      0.01
3140                  Capcom       Shooter     XOne      0.01
3141       UIG Entertainment    Simulation      PS4      0.00
3142    Alternative Software        Sports     XOne      0.00

[3143 rows x 4 columns]

Q11: From the *publishers* dataframe, find the top 10 game publishers in North America by total sales.

In [229]:
#Q11-Code
top_10_publishers = publishers.groupby('Publisher')['NA_Sales'].sum().sort_values(ascending=False).head(10)
print(top_10_publishers)

Publisher
Electronic Arts                           213.38
Activision                                193.16
Take-Two Interactive                      120.99
Microsoft Game Studios                    116.77
Ubisoft                                    98.65
Sony Computer Entertainment                76.35
Warner Bros. Interactive Entertainment     45.24
THQ                                        36.44
Bethesda Softworks                         33.88
Capcom                                     24.74
Name: NA_Sales, dtype: float64

Q12: What is the gaming platform that has attracted the most sales in North America?

In [230]:
#Q12:Code
most_sold_platform = games.groupby('Platform')['NA_Sales'].sum().sort_values(ascending=False).index[0]
print("Most Attracted Platform in North America: ", most_sold_platform)

Most Attracted Platform in North America:  X360

In [231]:
#Create Dataframe sat
sat_url = 'https://andybek.com/pandas-sat'

sat = pd.read_csv(sat_url)
sat

,School Name,Borough,Student Enrollment,Percent Tested,SAT Section,Score
0,A. Philip Randolph Campus High School,Manhattan,1354,74.00%,Math,459
1,A. Philip Randolph Campus High School,Manhattan,1354,74.00%,Reading,453
2,A. Philip Randolph Campus High School,Manhattan,1354,74.00%,Writing,447
3,Abraham Lincoln High School,Brooklyn,2341,54.90%,Math,441
4,Abraham Lincoln High School,Brooklyn,2341,54.90%,Reading,422
...,...,...,...,...,...,...
1120,Young Women's Leadership School in Astoria,Queens,572,100.00%,Reading,464
1121,Young Women's Leadership School in Astoria,Queens,572,100.00%,Writing,477
1122,Young Women's Leadership School in Queens,Queens,557,90.40%,Math,415
1123,Young Women's Leadership School in Queens,Queens,557,90.40%,Reading,420
1124,Young Women's Leadership School in Queens,Queens,557,90.40%,Writing,433

Q13: Starting with our main dataframe (*sat*), create a pivot table that summarizes the <ins>total</ins> student enrollment (Student Enrollment) across all 5 boroughs (*Borough*).

Which boroughs have the highest and lowest high school student bodies?

In [232]:
#Q13
enrollment_by_borough = sat.pivot_table(index='Borough', values='Student Enrollment', aggfunc='sum')
highest_enrollment = enrollment_by_borough.idxmax().item()
lowest_enrollment = enrollment_by_borough.idxmin().item()
print(f'Highest enrollment: {highest_enrollment}')
print(f'Lowest enrollment: {lowest_enrollment}')

Highest enrollment: Brooklyn
Lowest enrollment: Staten Island

Q14: Modify the pivot table from the step above to also reflect the average student body size (*Student Enrollment*) across boroughs, in the same pivot table.

In [233]:
#Q14
enrollment_by_borough = sat.pivot_table(index='Borough', values='Student Enrollment', aggfunc=['sum', 'mean'])
print(pd.concat([enrollment_by_borough['sum'], enrollment_by_borough['mean']], axis=1))

               Student Enrollment  Student Enrollment
Borough
Bronx                      159267          541.724490
Brooklyn                   242814          742.550459
Manhattan                  170370          638.089888
Queens                     232437         1122.884058
Staten Island               55380         1846.000000

Q15: Create a pivot table of high schools from the Queens borough (*Borough*), containing the SAT section scores (*SAT Section*, *Score*) as columns and the school name (*School Name*) as index. Sort the table in descending order by math section scores.

In [234]:
#Q15
queens_high_schools = sat[sat['Borough'] == 'Queens']
pivot_table = queens_high_schools.pivot_table(index='School Name', columns='SAT Section', values='Score')
sorted_table = pivot_table.sort_values('Math', ascending=False)
sorted_table

SAT Section                                         Math  Reading  Writing
School Name
Queens High School for the Sciences at York Col...   701      621      625
Townsend Harris High School                          680      640      661
Baccalaureate School for Global Education            633      620      628
Bard High School Early College Queens                631      598      610
Scholars' Academy                                    588      560      568
...                                                  ...      ...      ...
Middle College High School at LaGuardia Communi...   377      389      377
Queens High School for Information, Research, a...   372      362      352
August Martin High School                            366      372      364
Rockaway Park High School for Environmental Sus...   357      381      376
Pan American International High School               340      320      318

[69 rows x 3 columns]